/*nav.navbar-default {
    background-color: #1E3A51;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
    color: #92B9D9;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #3097d1;
}

.dropdown-menu {
    background-color: #374551;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color: #92B9D9;
}

.dropdown-menu>li>a {
    color: #92B9D9;
}

.navbar-default .navbar-brand {
    color: #92B9D9;
}

body {
    background-color: #C8E0DB;
}*/


.search input[type=text] {
    width: 222px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


.search input[type=text]:focus {
    width: 100%;
}
